.footer-container{
    margin-top: 5% !important;
    background-color: black;
}

.footer-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color:white;
}

.footer-copyright{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: white;
}

.icons{
    color:#828282;
}
