.success-button {
    width: 200px;
    height: 52px;
}

.success-body-col {
    max-width: 1000px;
}

.success-page-icon{
    width: 200px;
    height: 200px;
}

.success-page-via-apilia {
    font-size: 30px;
}